body {
  margin: 0;
  padding: 0;
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: #EFF1F0;
  border-bottom: 3px solid #CACACA;
}

